/* Ana María Araya Flores, stundentnr 273762 */
.vaksineSide {
    background-color: #ecfcff;
    height: 100vh;
    font-family: 'Nunito', 'Segoe UI', sans-serif;;
}
.vaksineKort {
    color: #1a2e2e;
}
.vaksineHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.vaksineKnapp {
    background: #0aadad;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', 'Segoe UI', sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 16px;
}
.vaksineKnapp:hover {
    background:#007185;
}
.vaksineHeader h2 {
    font-size: 20px;
    font-weight: 800;
    color: #1a2e2e;
    margin: 0;  
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.vaksineTabell {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}
.vaksineTabell thead tr { /* Vaksinasjon og vaksinasjonsdato */
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 0;
}
.vaksineTabell th {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: #007185;
    background: #f0fafa;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding: 10px 14px;
    border-bottom: 1.5px solid #007185;
    padding-bottom: 6px;
}
.vaksineTabell td {
    text-align: left;
    color: #1a2e2e;
    padding: 12px 14px;
    border-bottom: 1px solid #e0f0f0;

}
.dato {
    text-align: left;
}
.vaksineScrollbar {
    max-height: 300px;
    overflow-y: auto;
}
